.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.start{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  font-size: 17px;
  font-weight: bold;
  color: #fff;
  margin: 20px;
  border: 2px solid darkblue;
  background-color: green;
}
.start:hover{
  scale: 1.1;
}

.stop{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  font-size: 17px;
  font-weight: bold;
  color: #fff;
  margin: 20px;
  background-color: red;
}

.stop:hover{
  scale: 1.1;
}

.reset{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  font-size: 17px;
  color: #fff;
  font-weight: bold;
  margin: 20px;
  border: 2px solid grey;
  background-color: orange;
}

.reset:hover{
  scale: 1.1;
}

































@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
